v-layout(column)
    v-flex.pa-0
        v-text-field(v-model.trim="description" :rules="descriptionRules" label="Description" required)
        v-textarea(v-model.trim="task" :rules="taskRules" label="Task"  hint="Hint text" required)
        block action