v-layout(column)
    v-flex.pa-0
        v-text-field(v-model.trim="todo.title"
                    :rules="rules.titleRules" label="Title*"
                    :counter="20" maxlength="20")
        v-textarea(v-model.trim="todo.task"
                    :rules="rules.taskRules" label="Task*" :counter="100"
                    hint="Hint text" maxlength="100")